@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400&family=Yeseva+One&display=swap');
$gray-border-thin: 1px solid grey;
$bottom-shadow: 3px 6px 2px 0px rgba(0,0,0,0.16);
$transition-site: all 0.5s ease;
$spacer: 15px;
$black: black;
$white: white;
$red: red;
$media-queries-navbar: "screen and (min-width:750px)";

.transition-scale{
    transition: $transition-site;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

.btn{
    display: inline-block;
    padding: 1em 2em;
    margin: $spacer;
    background-color: rgb(223, 222, 222);
    border: $gray-border-thin;
    text-decoration: none;
    border-radius: 5px;
    color: $black;
    &:hover{
        cursor: pointer;
    }
}

body{
    margin: 0px;
    font-family: 'Sora', sans-serif;
    padding: $spacer;
}

header.site-header{
    nav{
        border-bottom: $gray-border-thin;
        background-color: $white;
        position: fixed;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: $bottom-shadow;
        padding: $spacer;
        overflow: auto;
        @media #{$media-queries-navbar}{
            .toggle-navbar{
                display: none;
            }          
        }
        ul{
            background-color: $white;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: fixed;
            height: 0px;
            width: 100%;
            top: 70px;
            left: 0;
            padding: 0;
            &.open {
                height: 100%;
                opacity: 1;
            }
            @media #{$media-queries-navbar}{
                position: relative;
                flex-direction: row;
                justify-content: flex-end;
                top: 0;
                opacity: 1;
            }              
            }
            li{
                list-style: none;
                margin: $spacer;
                a{
                    text-decoration: none;
                    color: $black;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }


main{
    padding: $spacer;
    background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(255,255,255,1) 49%);
}

h1{
    @extend .transition-scale;
}

.list-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .product{
        border: $gray-border-thin;
        padding: $spacer;
        margin: $spacer;
        box-shadow: $bottom-shadow;
        border-radius: 15px;
        background-color: $white;
        @extend .transition-scale;
        .buy-button{
            @extend .transition-scale;
            @extend .btn;

        }
    }
}

footer.site-footer{
    min-height: 50px;
    display: flex;
    justify-content: center;
}

