// reset, variables, mixins and utilities classes.
@use 'sass:color';
// ------------------ reset-------------------------
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400&family=Yeseva+One&display=swap');


// ----------------- variables ---------------------

$border-thin: 1px solid;
$gray-border-thin: 1px solid gray;
$bottom-shadow: 3px 6px 2px 0px rgba(0,0,0,0.16);
$transition-site: all 0.5s ease;
$spacer: 15px;
$black: black;
$white: white;
$red: red;
$accent-color: purple;
$color-btn: rgb(194, 194, 194);
$color-btn-hover: rgb(100, 100, 100);
$media-queries-navbar-m: "screen and (min-width:750px)";
$media-queries-navbar-l: "screen and (min-width:960px)";

$colors: (
    'primary': pink,
    'secondary': rgb(24, 207, 48),
    'danger': rgb(85, 102, 156),
    'warning': rgb(233, 157, 17),
);

$breakpoints: (
    'sm': 500px,
    'md': 700px,
    'lg': 500px,
    'xl': 500px,
    'xxl': 500px,
);

$displays: none, block, inline-block, flex, grid;

// -------------------- mixins ----------------------

@function getColorFromBg($bg-color){
    @debug color.blackness($bg-color);
    @if(color.blackness($bg-color) > 30% ) {
        @return $white;
    }
    @else {
        @return $black;
    }
}

@mixin button($bg-color: $color-btn){  // si je ne passe pas de paramètre il aura par défaut $color-btn
    display: inline-block;
    padding: 1em 2em;
    margin: $spacer;
    border: $border-thin;
    border-color: darken($bg-color, 50%);
    text-decoration: none;
    border-radius: 5px;

    background-color: $bg-color;
    color: getColorFromBg($bg-color);

    transition: $transition-site;
    &:hover{
        background-color: lighten($bg-color, 20%) ;
        cursor: pointer;
    }
}

// -------------------- utilities ----------------------
.transition-scale{
    transition: $transition-site;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

@each $display in $displays{
    .d-#{$display}{
        display:$display;
    }
    @each $breakpoint, $size in $breakpoints{
        .d-#{$breakpoint}-#{$display}{
            @media screen and (min-width: $size){
                display: $display;
            }
        }
    }
}