body{
    margin: 0px;
    font-family: 'Sora', sans-serif;
    padding: $spacer;
}

header.site-header{
    nav{
        border-bottom: $gray-border-thin;
        background-color: $white;
        position: fixed;
        z-index: 10;
        width: calc(100% - ($spacer * 2));
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: $bottom-shadow;
        padding: $spacer;
        overflow: auto;
        @media #{$media-queries-navbar-m}{
            .toggle-navbar{
                display: none;
            }          
        }
        @media #{$media-queries-navbar-l}{
            h1{
                white-space: nowrap;
            }
        }
        ul{
            background-color: $white;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: fixed;
            height: 0px;
            width: 100%;
            top: 70px;
            left: 0;
            padding: 0;
            &.open {
                height: 100%;
                opacity: 1;
            }
            @media #{$media-queries-navbar-m}{
                position: relative;
                flex-direction: row;
                justify-content: flex-end;
                top: 0;
                opacity: 1;
            }              
            }
            li{
                list-style: none;
                margin: $spacer;
                a{
                    text-decoration: none;
                    color: $black;
                    &:hover {
                        color: $accent-color;
                    }
                }
                // #btn-connexion:hover{
                //     color: $white;
                // }
            }
        }
    }

h1{
    @extend .transition-scale;
    &:hover{
        color: $accent-color;
    }
}

main{
    padding: $spacer;
    background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(255,255,255,1) 49%);
}

footer.site-footer{
    min-height: 50px;
    display: flex;
    justify-content: center;
}