@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;400&family=Yeseva+One&display=swap");
.transition-scale, .list-products .product, h1 {
  transition: all 0.5s ease;
}
.transition-scale:hover, .list-products .product:hover, h1:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.d-none {
  display: none;
}

@media screen and (min-width: 500px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .d-lg-none {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .d-xl-none {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .d-xxl-none {
    display: none;
  }
}

.d-block {
  display: block;
}

@media screen and (min-width: 500px) {
  .d-sm-block {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  .d-md-block {
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .d-lg-block {
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .d-xl-block {
    display: block;
  }
}

@media screen and (min-width: 500px) {
  .d-xxl-block {
    display: block;
  }
}

.d-inline-block {
  display: inline-block;
}

@media screen and (min-width: 500px) {
  .d-sm-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 700px) {
  .d-md-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 500px) {
  .d-lg-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 500px) {
  .d-xl-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 500px) {
  .d-xxl-inline-block {
    display: inline-block;
  }
}

.d-flex {
  display: flex;
}

@media screen and (min-width: 500px) {
  .d-sm-flex {
    display: flex;
  }
}

@media screen and (min-width: 700px) {
  .d-md-flex {
    display: flex;
  }
}

@media screen and (min-width: 500px) {
  .d-lg-flex {
    display: flex;
  }
}

@media screen and (min-width: 500px) {
  .d-xl-flex {
    display: flex;
  }
}

@media screen and (min-width: 500px) {
  .d-xxl-flex {
    display: flex;
  }
}

.d-grid {
  display: grid;
}

@media screen and (min-width: 500px) {
  .d-sm-grid {
    display: grid;
  }
}

@media screen and (min-width: 700px) {
  .d-md-grid {
    display: grid;
  }
}

@media screen and (min-width: 500px) {
  .d-lg-grid {
    display: grid;
  }
}

@media screen and (min-width: 500px) {
  .d-xl-grid {
    display: grid;
  }
}

@media screen and (min-width: 500px) {
  .d-xxl-grid {
    display: grid;
  }
}

body {
  margin: 0px;
  font-family: "Sora", sans-serif;
  padding: 15px;
}

header.site-header nav {
  border-bottom: 1px solid gray;
  background-color: white;
  position: fixed;
  z-index: 10;
  width: calc(100% - 30px);
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 6px 2px 0px rgba(0, 0, 0, 0.16);
  padding: 15px;
  overflow: auto;
}
@media screen and (min-width:750px) {
  header.site-header nav .toggle-navbar {
    display: none;
  }
}
@media screen and (min-width:960px) {
  header.site-header nav h1 {
    white-space: nowrap;
  }
}
header.site-header nav ul {
  background-color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  height: 0px;
  width: 100%;
  top: 70px;
  left: 0;
  padding: 0;
}
header.site-header nav ul.open {
  height: 100%;
  opacity: 1;
}
@media screen and (min-width:750px) {
  header.site-header nav ul {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    opacity: 1;
  }
}
header.site-header nav li {
  list-style: none;
  margin: 15px;
}
header.site-header nav li a {
  text-decoration: none;
  color: black;
}
header.site-header nav li a:hover {
  color: purple;
}
header.site-header nav li #btn-connexion {
  display: inline-block;
  padding: 1em 2em;
  margin: 15px;
  border: 1px solid;
  border-color: black;
  text-decoration: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  transition: all 0.5s ease;
}
header.site-header nav li #btn-connexion:hover {
  background-color: #333333;
  cursor: pointer;
}

h1:hover {
  color: purple;
}

main {
  padding: 15px;
  background: radial-gradient(circle, rgb(148, 187, 233) 0%, rgb(255, 255, 255) 49%);
}

footer.site-footer {
  min-height: 50px;
  display: flex;
  justify-content: center;
}

.btn-primary {
  display: inline-block;
  padding: 1em 2em;
  margin: 15px;
  border: 1px solid;
  border-color: #c00022;
  text-decoration: none;
  border-radius: 5px;
  background-color: pink;
  color: black;
  transition: all 0.5s ease;
}
.btn-primary:hover {
  background-color: white;
  cursor: pointer;
}

.bg-primary {
  background-color: pink !important;
}

.color-primary {
  color: pink !important;
}

.hover-color-primary:hover {
  color: pink !important;
}

.bg-text-primary {
  background-color: pink !important;
  color: black !important;
}

.btn-secondary {
  display: inline-block;
  padding: 1em 2em;
  margin: 15px;
  border: 1px solid;
  border-color: black;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(24, 207, 48);
  color: black;
  transition: all 0.5s ease;
}
.btn-secondary:hover {
  background-color: #60ed73;
  cursor: pointer;
}

.bg-secondary {
  background-color: rgb(24, 207, 48) !important;
}

.color-secondary {
  color: rgb(24, 207, 48) !important;
}

.hover-color-secondary:hover {
  color: rgb(24, 207, 48) !important;
}

.bg-text-secondary {
  background-color: rgb(24, 207, 48) !important;
  color: black !important;
}

.btn-danger {
  display: inline-block;
  padding: 1em 2em;
  margin: 15px;
  border: 1px solid;
  border-color: black;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(85, 102, 156);
  color: white;
  transition: all 0.5s ease;
}
.btn-danger:hover {
  background-color: #939fc4;
  cursor: pointer;
}

.bg-danger {
  background-color: rgb(85, 102, 156) !important;
}

.color-danger {
  color: rgb(85, 102, 156) !important;
}

.hover-color-danger:hover {
  color: rgb(85, 102, 156) !important;
}

.bg-text-danger {
  background-color: rgb(85, 102, 156) !important;
  color: white !important;
}

.btn-warning {
  display: inline-block;
  padding: 1em 2em;
  margin: 15px;
  border: 1px solid;
  border-color: black;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(233, 157, 17);
  color: black;
  transition: all 0.5s ease;
}
.btn-warning:hover {
  background-color: #f4c46c;
  cursor: pointer;
}

.bg-warning {
  background-color: rgb(233, 157, 17) !important;
}

.color-warning {
  color: rgb(233, 157, 17) !important;
}

.hover-color-warning:hover {
  color: rgb(233, 157, 17) !important;
}

.bg-text-warning {
  background-color: rgb(233, 157, 17) !important;
  color: black !important;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-products .product {
  border: 1px solid gray;
  padding: 15px;
  margin: 15px;
  box-shadow: 3px 6px 2px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  background-color: white;
}
.list-products .product .buy-button {
  display: inline-block;
  padding: 1em 2em;
  margin: 15px;
  border: 1px solid;
  border-color: black;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(207, 173, 18);
  color: black;
  transition: all 0.5s ease;
}
.list-products .product .buy-button:hover {
  background-color: #f0d557;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */